{% extends 'base.html' %}

{% block header %}
  <head>
    {% if g.user %}
      <meta http-equiv="refresh" content="{{ refresh }}">
    {% endif %}
  </head>
{% endblock %}

<section class="content">
  {% block content %}
    {% if g.user %}

      <!-- Controller status if user logged in. -->
      <h2>Controller Interface</h2>
      {% if linkStale == True %}
        <a>Waiting for controller to connect...</a>
      {% else %}
        <div>
          <table style="text-align:left">
            <tr>
              <th width="50px"; ><a>Name</a></th>
              <th><a-dyn>{{ cData["name"] }}</a-dyn></th>
            </tr>
            <tr>
              <th><a>State</a></th>
              <th><a-dyn>{{ cData["state"] }}</a-dyn></th>
            </tr>
            <tr>
              <th><a>Time</a></th>
              <th><a-dyn>{{ cData["cTime"] }}</a-dyn></th>
            </tr>
            <tr>
              <th><a>Machines</a></th>
              <th><a-dyn>{{ cData["nMach"] }}</a-dyn></th>
            </tr>
        </table>
        </div>

        <!-- Machine data for all connected machines (if any) -->
        <h2>Machine Data</h2>
        {% if cData["nMach"] > 0 %}
          {% for m in range(0, cData["nMach"]) %}
            <p>Machine {{ m + 1 }} : {{ mData[m]["machName"] }} </p>
          {% endfor %}
        {% endif %}

      {% endif %}
    {% else %}
      <p>Thank you for using MicControl.</p>
    {% endif %}
  {% endblock %}
</section>